/*
.main-container{
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
	margin-bottom: 50px;
  }
 */
body{
    margin: 0;
}
.input-group{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;
	margin-left: 3.33%;
	margin-right: 3.33%;
	width: 20%;
}
.input-group:nth-child(1),
.input-group:nth-child(5),
.input-group:nth-child(9){
	margin-right: 3.33%;
	margin-left: 0;
}
.input-group:nth-child(4),
.input-group:nth-child(8),
.input-group:nth-child(12){
	margin-right: 0;
	margin-left: 3.34%;
}
.input-label{
	display: block;
	margin-bottom: 10px;
}
.input{
	padding: 10px;
	font-size: 12px;
	width: 75%;
}

.footer-label{
	display: inline;
	font-size: 18px;
	color: red;
	margin-right: 40%;
}
.footer-label:last-child{
	margin-right: 0;
	margin-left: 32%;
}
.textarea-group{
	display: inline-block;
	vertical-align: top;
	margin-bottom: 20px;
	width: 20%;
}
.textarea-label{
	display: block;
	margin-bottom: 10px;
}
.textarea{
	padding: 10px;
	font-size: 12px;
	width: 500%;
	resize: vertical;
}
/* Estilo para los botones de añadir */
.button-group {
	display: inline-block;
	text-align: right;
	color: #808080;
	width: 100%; 
	box-sizing: border-box; 
}

.button-label {
	display: inline-block;
}

.icon-plus {
	display: inline-block;
	font-size: 24px; 
	color: #808080;
}

/* Estilo para los checkboxes */
.check-group{
	display: inline-flex;
	justify-content: center; 
	align-items: center; 
	padding-top: 30px;
}
.checkbox-label {
	display: inline-block;
	font-size: 12px;
	font-style: normal;
	vertical-align: middle;
	margin: 0;
	margin-left: 3.33%;
	margin-right: 3.33%;
}

.input[type="checkbox"] {
	vertical-align: middle;
	height: 30px;
	width: 14px;
}
.check-page4{
	display: block;
	justify-content: center; 
	align-items: center; 
	padding-top: 0;
}
.submit-container {
	display: flex;
	justify-content: flex-end;
	padding-bottom: 7.5%;
	padding-top: 5%;
}
	
.cancel-button {
	background-color: white;
	color: red;
	border: 2px solid red;
	padding: 10px 50px;
	font-size: 16px;
	cursor: pointer;
	margin-right: 10px; 
	border-radius: 5px; 
	display: inline-block;
}
	
.save-button {
	background-color: red;
	color: white;
	border: none;
	padding: 10px 50px;
	font-size: 16px;
	cursor: pointer;
	margin-left: 10px; 
	display: inline-block; 
	border-radius: 5px; 
}

.button {
    border: thin solid #DD6E59; 
    color: black; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    border-radius: 15px; 
    cursor: pointer; 
	background-color: white;
}


.button:hover {
    background-color: #F7E8E5; 
}
.menu-container{
    background: #970A2C;
    padding: 5px;
    padding-left: 20px;
}
.menu-element{
    display: inline;
    padding: 10px;
    color: white;
}
.menu-link{
    color: white;
    text-decoration: none;
}
.menu-link::hover{
    color:white;
}
.route-container{
    margin: 0;
    background: #E6E4E4;
}
.route-element{
    margin: 0;
    padding: 10px;
}
.logo-container{
    padding-left: 20px;
}

.content-containet{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.data-container{
    padding: 3em 2em 0 2em;
}
.folders-container{
    padding: 3em 0 0 5em;
}

.service-keys-container{
    padding: 3em 5em 0 0;
}

.folder-table{
    border-radius: 5px;
    list-style-type: none;
    border-radius: 3px;
}
.folder-element{
    border:1px solid grey;
}

.folder-icon{
    color: grey;
    width: 32px;
    height: 32px;
    margin: 16px 10px 16px 10px;
}
.folder-link{
    display: inline-flex;
    color: black;
    text-decoration: none;
    align-items: center;
    width: 100%;
}
.folder-link::hover{
    color: black;
}