/*
.main-container{
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
	margin-bottom: 50px;
  }
 */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-label {
    margin: 0;
    font-size: 30px;
}

.form-title {
    margin: 0;
    font-size: 30px;
    text-align: center;
}

.container-label-line {
    color: #EF902A;
    margin-bottom: 1em;
}

.container-label-line1 {
    color: #D8D8D8;
    margin-bottom: 1em;
}

.input-group {
    display: block;
    vertical-align: top;
    margin-bottom: 20px;
    margin-left: 3.33%;
    margin-right: 3.33%;
    width: 100%;
}

/*
.input-group:nth-child(1),
.input-group:nth-child(5),
.input-group:nth-child(9){
	margin-right: 3.33%;
	margin-left: 0;
}
.input-group:nth-child(4),
.input-group:nth-child(8),
.input-group:nth-child(12){
	margin-right: 0;
	margin-left: 3.34%;
}
*/
.input-label {
    display: block;
    /*margin-bottom: 10px; TOCADO PARA COSAS DE INCIDENCIAS*/
    width: 100%;
}

.input {
    padding: 10px;
    font-size: 12px;
}

.footer-label {
    display: inline;
    font-size: 18px;
    color: red;
    margin-right: 40%;
}

.footer-label:last-child {
    margin-right: 0;
    margin-left: 32%;
}

.textarea-group {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    width: 20%;
}

.textarea-label {
    display: block;
    margin-bottom: 10px;
}

.textarea {
    padding: 10px;
    font-size: 12px;
    width: 500%;
    resize: vertical;
}

/* Estilo para los botones de añadir */
.button-group {
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: #970A2C;
    color: white;
    width: 25%;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}

.button-group1 {
    display: block;
    text-align: center;
    background-color: #E7E7E7;
    color: #2E2E2E;
    width: 50%;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 2% 0 2%;
}

.button-label {
    display: inline-block;
}

.icon-plus {
    display: inline-block;
    font-size: 24px;
    color: #808080;
}

/* Estilo para los checkboxes */
.check-group {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.checkbox-label {
    display: inline-block;
    font-size: 12px;
    font-style: normal;
    vertical-align: middle;
    margin: 0;
    margin-left: 3.33%;
    margin-right: 3.33%;
}

.input[type="checkbox"] {
    vertical-align: middle;
    height: 30px;
    width: 14px;
}

.input[type="text"] {
    width: 88%;
}

.check-page4 {
    display: block;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

.submit-container {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 7.5%;
    padding-top: 5%;
}

.cancel-button {
    background-color: white;
    color: red;
    border: 2px solid red;
    padding: 10px 50px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 5px;
    display: inline-block;
}

.save-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 50px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    display: inline-block;
    border-radius: 5px;
}

.button {
    border: thin solid #DD6E59;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    background-color: white;
}


.button:hover {
    background-color: #F7E8E5;
}

.menu-container {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 500;
    background: #970A2C;
    padding: 5px;
    padding-left: 20px;
}

.menu-container::after {
    content: "";
    clear: both;
    display: table;
}

.menu-element {
    display: inline;
    padding: 10px;
    color: white;
}

.menu-link {
    color: white;
    text-decoration: none;
}

.menu-link::hover {
    color: white;
}

.menu-login {
    position: absolute;
    right: 2em;
    bottom: 10px;
}

.route-container {
    margin: 0;
    background: #E6E4E4;
}

.route-element {
    margin: 0;
    padding: 10px;
    padding-left: 70px;
    color: #797979;
}

.logo-container {
    padding-left: 20px;
}

.content-containet {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.sign-containet {
    display: inline;
    align-element: center;
}

.signform-container {
    display: inline;
    align-element: center;
}

.form-container {
    border: 1px solid #D3D3D3;
    border-radius: 10px;
    margin: 0 0 20px 0;
    padding: 20px 5px 30px 5px;
}

.form-container1 {
    border: 1px solid #D3D3D3;
    border-radius: 10px;
    margin: 0 0 20px 0;
    padding: 10px;
}

.data-container {
    padding: 3em 2em 0 2em;
}

.folders-container {
    padding: 3em 0 0 5em;
}

.service-keys-container {
    padding: 3em 5em 0 0;
}

.folder-table {
    padding-left: 0px;
    border-radius: 5px;
    list-style-type: none;
    border-radius: 3px;
}

.folder-element {
    border: 1px solid #E6E4E4;
}

.folder-icon {
    color: grey;
    width: 32px;
    height: 32px;
    margin: 16px 10px 16px 10px;
}

.folder-link {
    display: inline-flex;
    color: black;
    text-decoration: none;
    align-items: center;
    width: 100%;
}

.folder-link::hover {
    color: black;
}

.child-folder-element {
    padding-left: 20px
}

.ayuda-container {
    height: 100%;
    width: 80%;
    display: inline-block;
}

.bigayuda-container {
    display: grid;
    margin: 0 1% 0 5%;
    grid-template-columns: 4fr 4fr 3fr;

}

.sign-container {
    width: 30%;
    margin: 0 auto;
}

.link {
    color: #EF902A !important;
    display: inline-block;
    margin: 0 1% 0 0;
}

.texto {
    display: inline-block;
    margin: 1% 1% 0 0;
    color: #2E2E2E;
}

.h2ayuda {
    display: inline-block;
    margin: 1% 0 1% 5%;
    font-size: 200%;
    color: #2E2E2E;
}

.boton::after {
    color: red;
    content: '.';
    font-size: 48px;
}

.slogan {
    font-size: 16px;
    color: #707070;
    font-weight: bold;
}

.logoImg {
    display: block;
    margin: auto;
}

.keys-table {
    padding-left: 0px;
    list-style-type: none;
}

.key-element {
    display: inline-flex;
    border: 1px solid #E6E4E4;
    color: black;
    text-decoration: none;
    align-items: center;
    width: 100%;
}

.keys-title {
    padding: 5%;
    text-decoration: none;
    background: #E6E4E4;
    color: #404040;
}

.Search-hooks {
    margin: 1%;
}

.SearchBar-container {
    width: 85%;
    display: inline-block
}

.input-search {
    padding: 10px;
    width: 88%;
}

.button-search {
    padding: 10px;
}

#Estados {
    display: inline-block;
    padding: 0;
    margin: 0;
}
.container-TableElements{
  padding-left: 0px;
}
.Refresh-Button {
    display: inline-block;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    margin-left: 1em;
    border: 1px solid #ccc;
    background-color: #E6E4E4;
    border-radius: 10px;
}

.refresh-icon {
    width: 24px;
    padding: 5px;
}

.TableElement-container {
    display: grid;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #E6E4E4;
    grid-template-columns: 1fr auto;
}

.TableElement-li {
    list-style-type: none;
    padding-top: 1%;
    padding-bottom: 1%;
}

.TableElement-name {
    font-weight: bold;
}

.TableElement-description {
    color: #666;
}

.TableElement-date {
    color: #999;
    text-align: end;
}

.TableElement-status {
    font-weight: bold;
    color: red;
    /* Asumiendo que el estado 'Finalizado' debería ser rojo */
}

.containet-TableElements {
    border: 1px solid #E6E4E4;
    padding: 1%;
}


.dialog-overlay {
  position: fixed; /* Asegura que el overlay tenga posición relativa al viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900; /* Valor inicial para el diálogo principal */
}

.alert-overlay {
  position: fixed; /* Similar al diálogo principal */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Más alto que el diálogo principal para asegurar que aparezca por encima */
}

.dialog-overlay {
  z-index: 600;
}

.dialog-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
}


.dialog-title {
    font-weight: bold;
    margin-top: 10px;
}


.dialog-description {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid 1px #ccc;
    max-width: calc(100% - 20px);
    max-height: calc(100% - 20px);
    min-width: calc(50%);
    min-height: calc(50%);
}

.input[type=password] {
width: calc(100% - 55px);
max-width: calc(100% - 55px);
}

.dialog-button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.IncidenceMore {

}

.IncidenceMore_Content {

}

.IncidenceMore_CloseBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.IncidenceMore_Title {
  margin-bottom: 10px;
}

.IncidenceMore_Description {
  margin-bottom: 10px;
}
.IncidenceMore_DescriptionGeneral {
  position: relative;
  padding-bottom: 10%
}

.IncidenceMore_Date {
  margin-bottom: 10px;
}

.IncidenceMore_Status {
  display: inline-block;
  margin-bottom: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.IncidenceMore_User {
  margin-bottom: 50px;
}
.IncidenceMore_ButtonEdit{
  position: absolute;
  left: 5%;
}
.IncidenceMore_ButtonDelete{
  position: absolute;
  right: 5%;
}


.eleccion-container {
    border: 1px solid #B3B3B3;
    background: #F6F6F6;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    margin: 0 2% 2% 2%;
}

.manual-container {
    position: relative;
    display: inline-block;
    text-align: center;
    margin: 2% 2% 2% 2%;
}

@font-face {
    font-family: 'seat';
}

.text-manual {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -130%);
    font-family: 'seat';
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-size: 300%;
}

.manual-text {
    font-size: 200%;
    color: black;
}

.success-message {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: black;
  border-radius: 5px;
  z-index: 10;
  width: 20em;
  height: auto;
}

.success-message p {
  margin: 0;
  color: white;
}

.qr-container{
  display: flex;
  justify-content: center;
}

.qr-code-image{
  margin: 0px;
  padding: 0px;
}